.jumbotron{
    background-color: rgba(10, 175, 183, 0.55) !important;
}

body{
    padding: 30px;
    background-color: rgba(10, 221, 229, 0.3);
}

.a1{
    padding-top: 10px;
}

.a2{
    padding: 15px;
    font-size: medium;
    text-align: center;

}

.a3 {
    text-align: center;
}

.c1{
    position: relative;
    top:-50px;
}

.imagesmall{
    height: 500px;

}

.rounded {
    border-radius: 1.5rem !important;
}

.test1{
    background-color: #ff0103;
}

.test2{
    background-color: #007bff;
}

.cards{
    padding: 1em;
}

.std{
    width: 200px;
    height:200px;
    padding: 10px;
}

#game{
    background-color: #007bff;
    border: rgba(0, 6, 67, 0.99) 3px solid;
    width: 763px;
    height:303px;
    padding: 10px;
    margin: 0px auto;
}

#game > div{
    background: url('../img/elkarte.jpg') no-repeat;
    border: #000 1px solid;
    width: 71px;
    height: 71px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size:40px;
    text-align: center;
}

.card{
    padding: 20px;
    width: 20em;
}

.d1{
    border: #0d81a6 3px solid;
    width: 49%;
    background-color: rgba(10, 229, 237, 0.18);
}

.d2{
    border: #0d81a6 3px solid;
    width: 49%;
    left: -75px;
    background-color: rgba(10, 229, 237, 0.18);
}

.d3{
    border: #0d81a6 3px solid;
    width: 100%;
    left: 10px;
    background-color: rgba(10, 229, 237, 0.18);
    padding: 0.5em;
    text-align: center;
}

.margin{
     margin: 10px;
}

.margin1{
    position: relative;
    top: 50px;
}

.ul{
    text-align: center;
}

.httpi{
    width: 90%;
}